@import 'normalize.css';

.viewing-panel {
    flex-grow: 1;
    display: flex;
    flex-direction: row;
    color: white;
    font-family: 'Roboto', sans-serif;
    align-items: center;
}

.viewing-progressbar {
    flex-grow: 2;
    display: flex;
    flex-direction: row;
    cursor: pointer;
    align-items: center;
}

.progressbar {
    background-color: #f8104d;
    flex-direction: column;
    height: 6px;
    border-radius: 10px;
}

.dot {
    height: 7px;
    width: 7px;
    flex-direction: column;
    background-color: #f8104d;
    border-radius: 50%;
    display: inline-block;
    box-shadow: 0 0 0 3px rgb(255, 255, 255);
    align-self: center;
    opacity: 0;
    transition-property: opacity;
    transition-duration: .6s;
    transition-timing-function: ease;
}

.viewing-progressbar:hover .dot {
    height: 7px;
    width: 7px;
    flex-direction: column;
    background-color: #f8104d;
    border-radius: 50%;
    display: inline-block;
    box-shadow: 0 0 0 3px rgb(255, 255, 255);
    align-self: center;
    opacity: 100%;
}

.player-container {
    flex-direction: column;
    display: flex;
    height: 600px;
    width: 800px;
}

.video-container {
    display: flex;
    flex-grow: 1;
}

.control-container {
    display: flex;
    background-color: black;
    align-items: center;
}

.player-button {
    height: 38px;
    width: 28px;
    border: none;
    cursor: pointer;
    color: white;
    background-color: transparent;
    font-size: 20px;
    line-height: 1.5;
    margin: 0 8px 5px 1px;
}

.shadow {
    background: black;
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.7);
}

.viewing_timer {
    padding: 5px;
    flex-direction: column;
}

body {
    font-size: 16px;
}